/* desktop */
@media only screen and (min-width: 1024px) {
   #shortnav {
    display: none;
  }
}

/* tablet */

@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 0.95rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  .product {
    width: 47%;
  }
  #fullnav, #glasses {
    display: none;
  }
  #shortnav {
    flex-direction: column;
  }
}

/* mobile */

@media only screen and (max-width: 470px) {
  .hero {
    height: 15rem;
  }

  h2 {
    font-size: 0.77rem;
  }

  h3 {
    font-size: 1rem;
  }

  .title {
    padding: 1rem 2rem;
    top: 10rem;
  }

  .products, .business-info {
    justify-content: space-around;
  }

  .product, .info {
    width: 90%;
  }

  .business-info {
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
  }

  .info p {
    padding-bottom: 0.5rem;
  }

  #watch {
    display: none;
  }

  .copyright p {
    text-align: center;
  }
}
