html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

div {
  border: 0.5px dashed red;
}
/* title styles */

h1, h2 {
  font-size: 1rem;
}

h1 {
  font-weight: normal;
  padding: 0.66rem 0;
}

h2 {
  font-weight: bold;
  padding-top: 2rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
}

header {
  background-color: black;
}

p {
  color: black;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo, nav ul, .products, .business-info, .product, .product-image, .info  {
  display: flex;
}

.logo {
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  padding: 0 1rem 0 0.5rem;
}

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.hero {
  background-image: url(../media/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25rem;
}

.title {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.products, .business-info {
  margin-top: 3rem;
  justify-content: space-between;
}

.product {
  width: 30%;
  flex-direction: column;
}

.description {
  background-color: black;
  text-align: center;
  padding: 0.5rem;
}

.product-image {
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;
}

.product-image img {
  max-width: 50%;
}

footer {
  background-color: black;
  }

.info {
  flex-direction: column;
  width: 35%;
}

.info p {
  padding: 0.25rem 0 4rem 0.25rem;
}

.heading {
  background-color: black;
  padding: 1rem 2rem;
}

.copyright {
  height: 5rem;
}

.copyright p {
  color: white;
  text-align: left;
  padding-top: 2.5rem;
}
